.navbar-nav {margin-left:1100px; margin-bottom:100px;}
h1 {font-family: Ubuntu, "times new roman", times, roman, serif;}
body {background-image: linear-gradient(Orange, DarkOrchid);}
body {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
#footer {color: darkorchid; background-color: darkslategray; padding: 60px 20px;}